.filter_div {
  /* border: 1px solid black; */
  width: 20rem;
  height: 2rem;
  margin-top: 16px
}

.label_style {
    font-weight: bold;
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    margin-left: 0.5rem
}

.label_input{
    color: black;
}
